<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Live Stock Price</title>

</head>
<body>

    <h1>Live Stock Price</h1>


    <!-- Display Stock Price and Action Buttons -->
    <div th:if="${currentPrice != null}">
        <h3>Stock Price for: <span id="stock-symbol" th:text="${symbol}">Symbol</span></h3>
        <p>Current Price: <span id="live-price" th:text="${currentPrice}">Loading...</span></p>

        <div>
            <button id="buy-button">Buy</button>
            <button id="sell-button">Sell</button>
        </div>
    </div>
    <br>
    <!-- No Stock Price Data Available Message -->
    <div th:if="${currentPrice == null}">
        <p>No stock price data available. Please enter a valid stock symbol.</p>
    </div>

    <form action="#" th:action="@{/stocks/update/{symbol}(symbol=${symbol})}" method="POST">
        <input type="hidden" th:name="symbol" th:value="${symbol}">
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="#">Add to watchlist</a>
    <p>News: </p>
    <br>
    <a th:href="@{/}">Home</a>
</body>
</html>
<!-- Added script here so that all the id give above will be loaded first before running  the script -->
<script src="/js/live-price.js"></script>




















